html{
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.left {
    width: 220px;
    background-color: #d0d0d0;
    padding: 20px;
}

.right {
    flex: 1;
    min-width: 0;
    background-color: #f0f0f0;
    padding: 20px;
}

.left nav {
    display:flex;
    flex-direction: column;
    gap: 18px;
    margin: 0;
    padding: 0;
}

 nav a {
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 16px;
    margin-top: 40%;
    
}

.left nav a:hover {
    color: orange;
    transition: color 0.3s ease;
}

header {
    position: relative;
    padding: 20px 170px 0 20px;
    margin-left: 14%;
}

#nav {
    position: absolute;
    top: 20px;
    right: 20px;
}

#nav img {
    width: 130px;
    height: 190px;
    object-fit: cover;
    display: block;
    margin-left: 19%;
}

.right h1 {
    margin: 0;
    text-align: centre;
    font-weight: bolder;
}

.content {
    width: 100%;
    padding: 20px 20px 40px;
    overflow: hidden;
    margin: 0;
}

.content h1 {
    text-align: left;
    margin-bottom: 10px;
}

.content p {
    margin: 0;
    line-height: 1.6;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top:20px ;

}
.h{
    text-align: left;
    margin-right: 100;
}
th,td{
    border: 1px solid black;
    text-align: left;
}
th{
    background-color: #eeeeee;
}
@media (max-width: 768px) {

    .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    section {
        width: 100%;
        text-align: left;
    }

    section h1 {
        text-align: left;
        margin-left: 0;
    }

    section p {
        text-align: left;
    }

    /* Career Objective comes first */
    #career-objective {
        order: 1;
    }

    #education {
        order: 2;
    }

    #skills {
        order: 3;
    }

    #projects {
        order: 4;
    }

    #internships {
        order: 5;
    }

    #certificate {
        order: 6;
    }
}